<ion-header>
  <ion-navbar>
    <ion-title>Bead Store Helper</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div padding>
    <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
      {{p.title}}
    </button>
  </div>
  </ion-list>
  <ion-list>
      <div padding>
      <button ion-item *ngFor="let page of displayPages" (click)="openPage(page)">
        {{page.title}}
      </button>
    </div>
    </ion-list>

  <!-- <ion-list>
    <div padding>
      <button ion-item (click)="openResultPage(beads)">
        Display Beads
      </button>
      <button ion-item (click)="openResultPage(findings)">
        Display Findings
      </button>
      <button ion-item (click)="openResultPage(stringingMaterials)">
        Display Stringing Materials
      </button>
    </div>
  </ion-list> -->
</ion-content>
<ion-nav [root]="rootPage"></ion-nav>